body{
    background-color:rgb(170, 2, 2);
}

div#coluna{
    background-color: white;
    left: 220px;
    top: 70px;
    height: 500px;
    width: 900px;
    float: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    border-radius: 25px;
}

div#logo{  
    position: absolute;
    left: 600px;
    top: 90px;
}

h1{
    position: absolute;
    left: 470px;
    top: 280px;
    font-size: 30px;
}

input#email{
    position: absolute;
    width:400px;
    height:45px;
    border: 5px solid; 
    border-color:#d3d3d3;
    border-radius: 25px;
    top: 360px;
    left: 460px;
}

button{
    padding: 5px;
    margin: 15px ;
    font-size: 20px;
    display: inline-block;
    width: 170px;
    border-radius: 10px;
    position: absolute;
    right: 580px;
    top: 440px;
    color: white;
    background-color:rgb(170, 2, 2);
}

a{
    text-decoration: none;
    color: white;
}