body{
    background-image: url("fundoconcreta01.png");
    background-repeat: no-repeat;
    background-position-y:370px;
}
header{
    background-color: rgb(248, 247, 247);
    padding-bottom:15px;
}
.logoconcreta{
    max-width: 140px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(168, 44, 44);
    margin: -38px 0 0 91px;
}
ul{
    margin-top: 30PX;
}
aside{
    width:20%;
    float: left;
}
aside ul li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 2px;
    width: 150px;
    margin: 0px 0 0 42px;
  }
main{
    width:80%; 
    float: left;
}
.mais{
    max-width: 27px;
    max-height: 30px;
    border: 1PX solid black;
    border-radius: 20px;
    padding: 4px;
    margin: 5px;
}
.imagensjuntas{
    margin: 31px 0px 0 68%;
    opacity: 90%;
}

a.botaoInicio{
    text-decoration: none;
    color: black;
}